<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>

    <h1>🚗 Hyundai Cars 🚗</h1>

    <button onclick="location.href='/car/1'">아반떼 조회</button>
    <button onclick="location.href='/car/list'">전체 자량 조회</button>
    <button onclick="location.href='/car/querymethod'">차량 카테고리별 조회(쿼리메소드)</button>
    <button onclick="location.href='/car/regist'">차량 등록하기</button>
    <button onclick="location.href='/car/modify'">차량 수정하기</button>
    <button onclick="location.href='/car/delete'">차량 삭제하기</button>

</body>
</html>