<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>selected menu</title>
</head>
<body>
    <table>
        <tr>
            <th>차량번호</th>
            <th>차량이름</th>
            <th>차량가격</th>
            <th>카테고리코드</th>
            <th>판매상태</th>
        </tr>
        <tr>
            <td th:text="${ car.carCode }"></td>
            <td th:text="${ car.carName }"></td>
            <td th:text="${ car.carPrice }"></td>
            <td th:text="${ car.categoryCode }"></td>
            <td th:text="${ car.orderableStatus }"></td>
        </tr>
    </table>
</body>
</html>